.bg--ostrovskiy {
    &::before {
        width: 895px;
        height: 1355px;
        bottom: -265px;

        background-image: url(../img/content-bg/ostrovskiy.png);
    }
    li {
        &:nth-child(2),
        &:nth-child(3) {
            .griboedov__link {
                padding: 17.3px 70px;

                line-height: 95.68px;
                text-align: center;
            }
        }
    }
}